#main-header {
	height: 100vh;
}

nav {
	z-index: 100;
	height: 100%;
	background-color: #673ab7;
}

.inner-header-mobile {
	width: 100vw;
	height: 14vh;
	position: fixed;
	font-weight: bold;
}

.on-scroll {
	background-color: #673ab7;
	-webkit-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.75);	
}

.inner-header-mobile > div.valign {
	width: 100vw;
}

.menu-mobile {
	display: inline-block;
	width: 20vw;
	height: 100%;
	vertical-align: middle;
	text-align: center;
}

.logo-center-wrapper-mobile{
	height: 60vh;
	width: 100vw;
}

.hipster-phrase-mobie {
	height: 30vh;
	width: 100vw;
}

.hipster-phrase-mobile {
	height: 30vh;
}

.logo-center-wrapper-mobile {
	padding-top: 20vh;
}

.logo-center-wrapper-mobile > img {
	width: 80vw;
	height: 40vh;
	margin: 0vh 10vw 0vh 10vw;
}

.hipster-phrase-mobile > h4 {
	width: 80vw;
	margin: 0 10vw 10vh 10vw;
	font-family: 'Roboto', serif;
	font-weight: 100;
	font-size: 2em;
}


